<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Sistema.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC_Sistema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @*
                            NAVEGAR A LA VISTA PRINCIPAL DEL CONTROLADOR HOME BUSCA LA VISTA INDEX
                        *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA PRIVACIDAD DEL CONTROLADOR HOME BUSCA LA VISTA PRIVACY
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA DE REGISTRO DE USUARIOS DEL CONTROLADOR LOGIN BUSCA LA VISTA REGISTRAR
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Registrar">Registrar Usuarios</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA LISTA DE USUARIOS DEL CONTROLADOR USUARIOS BUSCA LA VISTA INDEX
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Ver Usuarios</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA PARA CREAR TAREAS DEL CONTROLADOR TAREAS BUSCA LA VISTA CREATE
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tareas" asp-action="Create">Crear Tareas</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA LISTA DE TAREAS DEL CONTROLADOR TAREAS BUSCA LA VISTA INDEX
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tareas" asp-action="Index">Ver Tareas</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA PARA CREAR PROYECTOS DEL CONTROLADOR PROYECTOS BUSCA LA VISTA CREAR
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Proyectos" asp-action="Create">Crear Proyectos</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA LISTA DE PROYECTOS DEL CONTROLADOR PROYECTOS BUSCA LA VISTA INDEX
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Proyectos" asp-action="Index">Ver Proyectos</a>
                        </li>

                        @*
                            NAVEGAR A LA VISTA ENTREGAR UNA TAREA DEL CONTROLADOR USUARIOS BUSCA LA VISTA ENTREGARTAREA
                        *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="EntregarTarea">Entregar la tarea</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MVC_Sistema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
